<div class="row">
    <div class="row col-md-8 col-md-offset-1">
      <%= link_to like_topic_path(@topics, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up labled"></i>
      <% end %> <%= @topis.thumbs_up_total(@topic) %><span class="spacer">######</span>
      <%= link_to like_topic_path(@topics, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down labled"></i>
      <% end %>  <%= @topics.thumbs_down_total(@topic) %>            
    </div>
  </div>       