  <div class="row">
    <div class="row col-md-8 col-md-offset-1">
      <%= link_to like_topic_path(@topic, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up labled"></i>
      <% end %> <%= @topic.thumbs_up_total  %>
        <span class="spacer">######</span>
      <%= link_to  like_topic_path(@topic, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down labled"></i>
      <% end %>  <%= @topic.thumbs_down_total %>            
    </div>
  </div>                    